   :root {
  --orange: #e65c00;
  --black: #000;
}

body {
  background: var(--black);
  color: white;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 40px;
  color: white;
}

.title-line {
  width: 120px;
  height: 4px;
  background: var(--orange);
  margin: 15px auto 40px;
  border-radius: 999px;
}

.movie-card {
  background: #111;
  border: 1px solid var(--orange);
  border-radius: 18px;
  overflow: hidden;
  transition: .3s;
}

.movie-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(230, 92, 0, .35);
}

.poster-container {
  position: relative;
  overflow: hidden;
}

.poster {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  transition: .3s;
}

.movie-card:hover .poster {
  transform: scale(1.05);
  filter: brightness(.7);
}

.movie-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--orange);
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: .7rem;
  font-weight: 700;
}

.rating {
  position: absolute;
  top: 10px;
  right: 45px;
  color: #ffd000;
  font-size: .9rem;
  font-weight: 700;
}

.favorite-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  transition: .3s;
}

.favorite-btn:hover {
  color: red;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
}

.watch-btn {
  background: var(--orange);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 10px 22px;
  font-size: .9rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 6px;
}

.play-icon {
  font-size: .9rem;
}

.card-body {
  padding: 14px;
  text-align: center;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 4px;
  min-height: 40px;
  color: white;
}

.movie-category {
  color: var(--orange);
  font-size: .9rem;
  margin: 0;
}

.page-link {
  background: #111;
  color: white;
  border: 1px solid var(--orange);
}

.page-item.active .page-link {
  background: var(--orange);
  border-color: var(--orange);
}

@media (max-width: 576px) {

  .section-title {
    font-size: 1.7rem;
  }

  .movie-card {
    border-radius: 10px;
  }

  .movie-tag {
    font-size: .45rem;
    padding: 2px 5px;
    top: 5px;
    left: 5px;
  }

  .rating {
    font-size: .55rem;
    top: 6px;
    right: 26px;
  }

  .favorite-btn {
    font-size: .75rem;
    top: 3px;
    right: 5px;
  }

  .watch-btn {
    padding: 5px 10px;
    font-size: .55rem;
  }

  .card-body {
    padding: 8px;
  }

  .card-title {
    font-size: .72rem;
    min-height: 34px;
  }

  .movie-category {
    font-size: .62rem;
  }

  .page-link {
    font-size: .7rem;
    padding: 4px 8px;
  }

}