:root {
            /* Orange Palette */
            --strong-orange: #c83400;
            --medium-orange: #bc5028;
            --light-orange: #BC3810;
            --white-orange:#F5A68E;
            --strong-black: #000000;
}