@import "global.css";

:root{
    --dark--gray: #0b0e11;
}
.banner-promo{
    background-color: var(--strong-orange);
    color: white;
}
.principal-card {
    width: 150px;
    background-color: var(--dark--gray);
    border: 3px solid var(--strong-orange);
    border-radius: 8px;
}
.carousel-caption-principal{
    background: rgba(0, 0, 0, 0.5);
}

.principal-card:hover {
    transform: translateY(-4px);
}
.principal-categorias-card{
    background-color: var(--dark--gray) ;
    color: white;
}
.principal-top10-card {
    width: 150px;
    background-color: var(--dark--gray);
    border: 3px solid var(--strong-orange);
    border-radius: 8px;
}

